<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
 <servlet>
	 <servlet-name>NewPatinetRegister</servlet-name>
	 <servlet-class>com.java.NewPatientReg</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>NewPatinetRegister</servlet-name>
	 <url-pattern>/reg</url-pattern>
 </servlet-mapping>
 
  <servlet>
	 <servlet-name>ViewPatinetDetails</servlet-name>
	 <servlet-class>com.java.ViewPatientDeatils</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>ViewPatinetDetails</servlet-name>
	 <url-pattern>/viewPatinetDetails</url-pattern>
 </servlet-mapping>
 <servlet>
	 <servlet-name>DeletePatinetDetailsconformation</servlet-name>
	 <servlet-class>com.java.DeletePatientDetails</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>DeletePatinetDetailsconformation</servlet-name>
	 <url-pattern>/DeletePatientDetails</url-pattern>
 </servlet-mapping>
 
  <servlet>
	 <servlet-name>DeletePatinetDetails</servlet-name>
	 <servlet-class>com.java.DeletePatientDetails2</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>DeletePatinetDetails</servlet-name>
	 <url-pattern>/DeletePatientDetails2</url-pattern>
 </servlet-mapping>
   <servlet>
	 <servlet-name>UpdatePatinetDetails</servlet-name>
	 <servlet-class>com.java.UpdatePatinetDetailsCheck</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>UpdatePatinetDetails</servlet-name>
	 <url-pattern>/UpdatePatinetDetails</url-pattern>
 </servlet-mapping>  <servlet>
	 <servlet-name>UpdatePatinetDetailsinDataBase</servlet-name>
	 <servlet-class>com.java.UpdatePatientDetails</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>UpdatePatinetDetailsinDataBase</servlet-name>
	 <url-pattern>/UpdatePatinetDetailsinDb</url-pattern>
 </servlet-mapping>
 
</web-app>